* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #010101;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

.choose {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #010101;
  width: 20rem;
  height: 9.4rem;
  border: 0.2rem solid #bebebe;
}

.choose--header {
  text-align: center;
  padding-top: 0.5rem;
  height: 3.3rem;
  width: inherit;
}

.choose--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: inherit;
  height: 6.1rem;
}

.choose--x, .choose--o {
  margin: 0;
  padding: 0;
  width: 9.8rem;
  height: 5.9rem;
  font-weight: 900;
  font-size: 4rem;
  text-align: center;
  border-bottom: 0.2rem solid #bebebe;
}

.choose--x {
  border-left: none;
}

.choose--o {
  border-right: none;
}

.main {
  margin: 0 auto;
  height: 100vh;
  max-width: 420px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.game {
  height: 27rem;
  width: 27rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  place-items: center;
}

.blok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 9rem;
  height: 9rem;
  font-size: 4rem;
  font-weight: bold;
  border: 0.2rem solid #fff;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}

.blok:hover {
  cursor: pointer;
  background: #fff;
}

#blok0, #blok1, #blok2 {
  border-top: none;
}

#blok0, #blok3, #blok6 {
  border-left: none;
}

#blok6, #blok7, #blok8 {
  border-bottom: none;
}

#blok2, #blok5, #blok8 {
  border-right: none;
}

button {
  width: 10rem;
  height: 2.5rem;
  font-size: 1.5rem;
  border: 0.1rem solid #bebebe;
  background-color: #010101;
  color: #fff;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #010101;
}

.occupied:hover {
  background-color: #7d0633;
}

.winner--container {
  position: fixed;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 1rem auto 2rem 1.5rem;
      grid-template-rows: 1rem auto 2rem 1.5rem;
  padding: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #010101;
  width: 35rem;
  height: 12rem;
  border: 0.1rem solid #bebebe;
  font-size: 3rem;
}

.winner--button {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 8;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  justify-self: center;
}

#hidden--button {
  visibility: hidden;
  margin-top: 2rem;
}

h2 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 13;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  -ms-grid-column-align: center;
      justify-self: center;
}

p {
  -ms-grid-column: 12;
      grid-column-start: 12;
  grid-column-end: 13;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  font-size: 1.56rem;
  text-align: center;
  -ms-grid-column-align: end;
      justify-self: end;
  width: 1.5rem;
  height: 1.5rem;
}

p:hover {
  cursor: pointer;
  background-color: #fff;
  color: #010101;
}

@media screen and (max-width: 414px) {
  .choose {
    width: 14rem;
    height: 7.9rem;
    border: 0.1rem solid #bebebe;
  }
  .choose--header {
    font-size: 1.3rem;
    padding-top: 0.1rem;
    height: 1.9rem;
  }
  .choose--content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    height: auto;
  }
  .choose--x, .choose--o {
    font-size: 2.3rem;
    border-bottom: 0.1rem solid #bebebe;
  }
  .game {
    height: 15rem;
    width: 15rem;
  }
  .blok {
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
    border: 0.1rem solid #fff;
  }
  button {
    width: 6rem;
    height: 2rem;
    font-size: 1.2rem;
  }
  .winner--container {
    -ms-grid-rows: 1rem auto 2rem 1rem;
        grid-template-rows: 1rem auto 2rem 1rem;
    width: 15rem;
    height: 7rem;
    font-size: 1.5rem;
  }
  #winner {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=style.css.map */